body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(22, 22, 22); 
    color: white;
}

h2 {
    width: 200px;
    font-size: 25px;
    background: -webkit-linear-gradient(45deg, rgba(26,198,12,1) 0%, rgba(0,31,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.all {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.en-tete {
    display: flex;
}

.menu {
    color: white;
    padding: 6px 6px;
    text-decoration: none;
    transition: 0.5s;
}

.menu:hover {
    font-size: 18px;
    background: -webkit-linear-gradient(45deg, rgba(26,198,12,1) 0%, rgba(0,31,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s;
}

.cadre {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 500px;
    margin-left: 3px;
    margin-right: 3px;
}

.table {
    border: 3px rgb(189, 189, 189) solid;
    border-radius: 6px;
    margin-left: 3px;
    margin-right: 3px;
    justify-content: space-between;
    width: 50%;
    transition: 1s;
}

.table:hover {
    border: 3px rgb(133, 133, 133) solid;
    border-radius: 6px;
    justify-content: space-between;
    width: 90%;
    margin-left: 3px;
    margin-right: 3px;
    transition: 1s;
}

.texte2 {
    width: 170px;
    padding-left: 10px;
    position: relative;
    top: -15px;
    left: 10px;
    background-color: rgb(22, 22, 22);
}

.line {
    width: 6em;
    border-right: 2px solid white;
    font-size: 180%;
    overflow: hidden;
}

.anim-typewriter {
    animation: typewriter 2s steps(15) 1s 1 normal both, 
    blinkTextCursor 500ms steps(15) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 6em;
        border-color: transparent;
    }
}

@keyframes blindTextCursor {
    from {
        border-right-color: black;
    }
    to {
        border-right-color: transparent;
    }
}

table
{
    font-size: 15px;
    border-collapse: collapse;
    background-attachment: scroll;
    margin-left: 2%;
    margin-right: 2%;
    width: 97%;
}

td, th /* Mettre une bordure sur les td ET les th */
{
    border: 2px solid rgb(189, 189, 189);
    border-radius: 6px;
}

.add {
    position: relative;
    left: 5%;
    width: 1em;
    height: 1em;
    padding: 10px 10px 10px 10px;
    border: 2px solid rgb(189, 189, 189);
    border-radius: 200px;
}

.plus {
    font-size: 30px;
    width: 1em;
    text-align: center;
    position: relative;
    bottom: 80%;
    right: 12%;
    background: -webkit-linear-gradient(45deg, rgba(26,198,12,1) 0%, rgba(0,31,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}